<div class="main">

    <img *ngIf="photoURL != '' " class="w-32 h-32" src="{{photoURL}}" alt="">
    
    <input [(ngModel)]="displayName" type="name" placeholder="name">
    <input [(ngModel)]="email" type="email" placeholder="email">
    <input [(ngModel)]="password" type="password" placeholder="password">
    <input (change)="uploadFile($event)" type="file">

    <!-- Error Message Container -->
    <div [class.invisible]="!this.errorMessage" style="color:red; height: fit-content; margin-bottom: 12px;">
        {{errorMessage}}</div>

    <button (click)="register()">Register</button>
</div>