<div class="w-full flex justify-center mb-2">
    <!-- <div class="fontstyle relative w-11/12 rounded-md">
        <mat-icon class="bold absolute left-16 top-1">format_bold</mat-icon>
        <mat-icon class="italic absolute left-20 top-1">format_italic</mat-icon>
    </div> -->
    <textarea class="h-24 rounded-md w-11/12 bg-[#222529] border-[#555856] border border-solid" matInput
        placeholder="Nachrichten senden an ..."></textarea>
    <!-- <mat-icon class="bold left-16 top-1">format_bold</mat-icon>
    <mat-icon class="italic left-20 top-1">format_italic</mat-icon>
    <mat-icon class="send right-20 bottom-1">send</mat-icon> -->
</div>