mat-form-field {
    width: 90%;
}

::placeholder {
    color: #707173;
    padding-top: 1rem;
    padding-left: 0.5rem;
}

textarea {
    outline: none;
    border: none;
    overflow: auto;
    resize: none !important;
    // border-top: transparent

    .bold .send .italic {
        color: white;
    }

    ::placeholder {
        color: white;
    }
}

.send {
    color: #55595c;

    &:hover {
        color: white;
        background-color: green;
        cursor: pointer;
        border-radius: 0.3rem;
    }
}

.bold {
    color: #4a4e51;

    &:hover {
        color: #434647;
        background-color: rgba(255, 255, 255, 0.2);
        cursor: pointer;
        border-radius: 0.3rem;
    }
}

.italic-format {
    color: #4a4e51;

    &:hover {
        color: #434647;
        background-color: rgba(255, 255, 255, 0.2);
        cursor: pointer;
        border-radius: 0.3rem;
    }
}

.code {
    color: #4a4e51;

    &:hover {
        color: #434647;
        background-color: rgba(255, 255, 255, 0.2);
        cursor: pointer;
        border-radius: 0.3rem;
    }
}
