<div class="flex flex-col mb-10 border border-solid border-[#555856] bg-[#222529] rounded-md mx-6 h-28">
    <div>
        <mat-icon class="bold">format_bold</mat-icon>
        <mat-icon class="italic-format">format_italic</mat-icon>
        <mat-icon class="code">integration_instructions</mat-icon>
    </div>

    <textarea [(ngModel)]="newMsg" (keydown.enter)="submit()" class="h-12 w-11/12 bg-[#222529] text-color" matInput
        placeholder="Nachrichten senden an ..."></textarea>

    <button [disabled]="newMsg.length == 0" (click)="submit()">
        <mat-icon class="send flex self-end mr-2">send</mat-icon>
    </button>
    
</div>