<div class="flex flex-row border-b border-[#2B2A2F]">
  <div class="ml-4">
    <img class="h-12 rounded-md" src="https://ca.slack-edge.com/T01CDQFUXFE-U02FLFT4ZGX-gdb32b8a7326-512"> 
  </div>
  <div class="ml-4">
    <div><h2 class="text-color">Name</h2></div>
    <div><p class="text-color">Message</p></div>
    <div class="flex flex-row">
        <div>Picture1</div>
        <div class="ml-4">Picture2</div>
        <div class="ml-4">5 Antworten</div>
        <div class="ml-4">Letze Antwort heute um 15:38</div>
    </div>
  </div>
</div>
