<!-- <div class="flex flex-row border-b border-[#2B2A2F] px-4 py-4">
  <div class="h-12 w-12">
    <img class="rounded-md" src="https://ca.slack-edge.com/T01CDQFUXFE-U02FLFT4ZGX-gdb32b8a7326-512"> 
  </div>
  <div class="ml-4 w-full">
    <div><h2 class="text-color">Name</h2></div>
    <div><p class="text-color mt-2">Message</p></div>
    <div class="flex flex-row justify-between mt-2 w-full hover:border border-[#2B2A2F] p-1 hover:primary-background rounded-md hover:cursor-pointer">
        <div class="text-color-accent">5 Antworten</div>
    </div>
  </div>
</div> -->
<ng-container *ngIf="chat$ | async as chat">

  <div class="top">
    <p>
      <!--Link zur firebaseseite von Slack-->{{ chat.id }}
    </p>
  </div>


  <div class="chat">


    <div class="msg" *ngFor="let msg of chat.messages; trackBy: trackByCreated">

      <div class="user">
        <img [src]="msg.user?.photoURL">
        <div><span>{{ msg.user?.displayName }}</span></div>
      </div>

      <p>{{ msg.content }}</p>

    </div>

  </div>

  <div class="form">
    <input [(ngModel)]="newMsg" (keydown.enter)="submit(chat.id)">

    <button (click)="submit(chat.id)">Send</button>
  </div>

</ng-container>