<!-- menu-container -->
<div class="bg-[#19171D] h-screen">

    <!-- menu-header -->
    <div class="border border-[#2B2A2F] h-12 flex justify-start items-center pl-4">

        <!-- menu-header-title -->
        <span
            class="h-5 text-lg text-color text-ellipsis flex justify-center items-center">Slack-Replication</span>

    </div>

    <!-- menu-tree -->
    <app-tree-instance [title]="'Channels'" [data]="allChannels" (requestOpenDialog)="openDialogCreateNewChannel()"></app-tree-instance>
    <app-tree-instance [title]="'Direct Massages'" [data]="allUsers" [createBtnisDisplayed]="false"></app-tree-instance>

</div>