.bg {
    background-color: #1a171c;
}

.mat-form-field-appearance-outline .mat-form-field-outline-thick {
    color: white;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
    color: white;
}

.password:focus {
    border-color: white;
}
.mat-form-field-label {
    color: white !important;
}
