<div class="text-white h-screen bg">
    <div class="flex flex-col justify-center items-center">
        <div class="flex justify-center items-center flex-col">
            <h1 class="text-7xl font-medium mt-28 mb-4">Sign in to Slack</h1>
            <span>Continue with email address you use to sign in.</span>
        </div>
        <div class="mt-20 w-3/12 flex flex-col items-center">
            <div>
                <input [(ngModel)]="email" type="email" class="email h-12 p-4 mb-4 rounded-md bg-transparent"
                    placeholder="name@work-email.com" required>
                <!-- <mat-form-field appearance="outline" class="w-full">
                    <mat-label>Enter your email</mat-label>
                    <input class="w-3/6" matInput placeholder="name@work-email.com" [formControl]="email" required>
                    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field> -->
            </div>
            <div class="password-field">
                <input [(ngModel)]="password" type="password" [type]="hide ? 'password' : 'text'"
                    class="password h-12 p-4 mb-4 rounded-md bg-transparent" placeholder="Please enter password"
                    required>
                <!-- <mat-form-field appearance="outline" class="w-full">
                    <mat-label>Enter your password</mat-label> -->
                <!-- <input class="password" matInput [type]="hide ? 'password' : 'text'"> -->
                <button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <!-- </mat-form-field> -->
            </div>
        </div>

        <!-- Error Message Container -->
        <div [class.invisible]="!(this.errorMessage)" style="color:red; height: fit-content; margin-bottom: 12px;">{{errorMessage}}</div>

        <div class="flex flex-col items-center">
            <button (click)="login()" mat-flat-button class="login">Login</button>
            <a routerLink="/register/">Register</a>
        </div>
    </div>
</div>