.bg {
  background-color: #252521;
}

::placeholder {
    color: white !important;
}

.login {
    margin-bottom: 1rem;
    background-color: #46253E;
    width: 25rem;
    color: white;
}
.mat-form-field-outline {
    color: white !important;
} 
.ng-tns-c71-0 {
    color: white !important;
}
.ng-star-inserted {
    color: white !important;
}

