<div class="bg-[#191D21] border-l-[#2B2A2F] border-l flex flex-col w-[350px] h-screen">
    <div class="border-b border-[#2B2A2F] h-12 flex justify-start items-center pl-4">
        <span class="h-5 slack-font text-lg text-color text-ellipsis flex justify-start items-center">Thread</span>

    </div>

    <div class="flex-1">
        <div class="flex">
            <div class="h-12 w-12">
                <img class="rounded-md" src="https://ca.slack-edge.com/T01CDQFUXFE-U02FLFT4ZGX-gdb32b8a7326-512">
            </div>
            <div class="ml-4 w-full">
                <div>
                    <h2 class="text-color">Name</h2>
                </div>
                <div>
                    <p class="text-color mt-2">Message</p>
                </div>
            </div>
        </div>


    </div>
    <div class="flex flex-col mb-10 border border-solid border-[#555856] bg-[#222529] rounded-md mx-6 h-28">
        <div>
            <mat-icon class="bold">format_bold</mat-icon>
            <mat-icon class="italic-format">format_italic</mat-icon>
            <mat-icon class="code">integration_instructions</mat-icon>
        </div>

        <textarea class="h-12 w-11/12 bg-[#222529] text-color" matInput placeholder="Antworten ..."></textarea>

        <mat-icon class="send flex self-end mr-2">send</mat-icon>
    </div>
</div>