<div class="w-full flex flex-col h-screen">

    <!-- Head -->
    <div class="border-b border-[#2B2A2F] h-12 flex justify-start items-center pl-4">
        <span class="h-5 slack-font text-lg text-color text-ellipsis flex justify-start items-center">Channel or
            Contact</span>

    </div>

    <div *ngFor="let message of messages"> <u>{{message.uuidMessage}}</u>{{message.content}} </div>


    <!-- Messages send -->
    <div class="flex-1">
        <app-message-send></app-message-send>
    </div>

    <div>
        <app-chat-input></app-chat-input>
    </div>

</div>