<!-- Visible root nood of the tree-instance -->
<!-- Contains 1. button for toggle 2. the name/title of the root-node -->
<div class="container">

    <!-- Btn: Arrow-icon for toggle -->
    <button mat-icon-button (click)="toggleTree()">
        <mat-icon>
            {{isExpanded ? 'expand_more' : 'chevron_right'}}
        </mat-icon>
    </button>


    <span>{{title}}</span>

    <!-- Btn: For creating new channels/dms -->
    <button *ngIf="createBtnisDisplayed" mat-icon-button (click)="requestOpenDialog.emit()" id="btn-create"
        class="!hidden">
        <mat-icon> add </mat-icon>
    </button>

</div>

<!-- Unvisible Container/List for the li's -->
<ul [class.tree-invisible]="!isExpanded">
    <li *ngFor="let element of data;">{{element.name ? element.name : element.displayName}}</li>
</ul>