<!-- Visible root nood of the tree-instance -->
<!-- Contains 1. button for toggle 2. the name/title of the root-node -->
<div class="container h-11 flex items-center justify-between pr-2 text-color mt-2">

    <!-- wrapper -->
    <div class="flex items-center">
        <!-- Btn: Arrow-icon for toggle -->
        <button mat-icon-button (click)="toggleTree()">
            <mat-icon>
                {{isExpanded ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
        </button>

        <span>{{title}}</span>

    </div>

    <!-- Btn: For creating new channels/dms -->
    <button *ngIf="createBtnisDisplayed" mat-icon-button (click)="requestOpenDialog.emit()" id="btn-create"
        class="!hidden">
        <mat-icon> add </mat-icon>
    </button>
</div>

<!-- Unvisible Container/List for the li's -->
<!-- Retrives database => depending on the database (users, channels, ...), data can be displayed on different ways by using *ngIf on a template/container -->
<ul [class.tree-invisible]="!isExpanded" class="mb-5">
    <li *ngFor="let element of database" [class.is-active]="element.firestoreDocumentId === currentChat" class="h-9 pl-8 hover:bg-[#27242C]">
        <a [routerLink]="['/chatwindow/', element.firestoreDocumentId]"
            class="w-full h-full flex items-center text-color">
            {{element.name ? element.name : element.displayName}}
        </a>
    </li>
</ul>